body {
  background-color: tan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;



  .game {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
  }

  .anzeigen {
    text-align: center;
    font-size: 25px;
  }

  .shop {
    margin-top: 30px;
    width: 350px;
    height: auto;
  }

  .shop-ps {
    border: #000000 1px solid;
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    font-size: 35px;
    border-radius: 50px;
  }

  .shop-pc {
    border: #000000 1px solid;
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }

  .shop-rb {
    border: #000000 1px solid;
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 50px;
  }

  .shop-details {
    font-size: large;
  }

  #v {
    color: grey;
  }

  .reset {
    border: #000000 1px solid;
    border-radius: 100px;
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 39px;
    background-color: rgba(40, 40, 40);
    margin-bottom: 5px;
    color: #ff0000;
  }

  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3304px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .popupp {
    position: absolute;
    top: 2750px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: auto;
    background-color: #ffffff;
  }

  .x {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 39px;
  }

  .heading {
    font-size: 39px;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  .input {
    background-color: tan;
    outline: #000000;
    border-radius: 50px;
  }

  .button {
    background-color: tan;
    outline: #000000;
    border-radius: 50px;
  }
}
